<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hello Test, this is html
    <a href="about">About Page</a>
    <a href="test">File Previewer</a>
    
    
    <input type="file" name="inputfile" id="inputfile">
    <br>
    <input type="text" name="edit Text" id="inputtext">
    
    <button>This is a test Button</button>
    <br></br>
    <pre id="output"></pre>

    <script type="text/javascript" src="/fileReader.js"></script>
</body>
</html>